@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
 
body{
    font-family: 'Rampart One', cursive;
    background-image: url(background.png);
}